<h2>{{ 'books.headlines.add' | translate }}</h2>
<form (ngSubmit)="save()" [formGroup]="form" class="flex flex-col gap-4 text">

  <div>
    <label class="label " for="title">{{ 'books.title' | translate }} </label>
    <input [ngClass]="{'error-border': isInvalid('title')}" class="input" formControlName="title" id="title"
           type="text" />
    @if (isInvalid('title')) {
      <p class="error-text">
        {{ 'books.invalid.title' | translate }}.
      </p>
    }
  </div>

  <div>
    <label class="label " for="category">{{ 'books.category' | translate }} </label>
    <input class="input" formControlName="category" id="category"
           type="text" />
  </div>

  <div>
    <label class="label " for="pages">{{ 'books.pages' | translate }} </label>
    <input [ngClass]="{'error-border': isInvalid('pages')}" class="input" formControlName="pages" id="pages"
           type="number" />
    @if (isInvalid('pages')) {
      <p class="error-text">
        {{ 'books.invalid.pages' | translate }}.
      </p>
    }
  </div>

  <div>
    <label class="label " for="spice">{{ 'books.spice' | translate }} </label>
    <input [ngClass]="{'error-border': isInvalid('spice')}" class="input " formControlName="spice" id="spice"
           type="number" />
    @if (isInvalid('spice')) {
      <p class="error-text">
        {{ 'books.invalid.spice' | translate }}.
      </p>
    }
  </div>
  <base-btn (click)="save()" [disabled]="!form.valid || btnLoading()" [fullWidth]="true" [loading]="btnLoading()"
            class="mt-4" text="Submit" />
</form>
