<h2>Add book</h2>
<form (ngSubmit)="save()" [formGroup]="form" class="flex flex-col gap-4 text">

  <div>
    <label class="label " for="title">Title </label>
    <input [ngClass]="{'error-border': isInvalid('title')}" class="input" formControlName="title" id="title"
      type="text" />
    @if (isInvalid('title')) {
      <p class="error-text">
        Title is required.
      </p>
    }
  </div>

  <div>
    <label class="label " for="category">Category </label>
    <input class="input" formControlName="category" id="category"
      type="text" />
  </div>

  <div>
    <label class="label " for="pages">Pages </label>
    <input [ngClass]="{'error-border': isInvalid('pages')}" class="input" formControlName="pages" id="pages"
      type="number" />
    @if (isInvalid('pages')) {
      <p class="error-text">
        Pages needs to be greater than 0.
      </p>
    }
  </div>

  <div>
    <label class="label " for="spice">Spice </label>
    <input [ngClass]="{'error-border': isInvalid('spice')}" class="input " formControlName="spice" id="spice"
      type="number" />
    @if (isInvalid('spice')) {
      <p class="error-text">
        Spice has to be between 0 and 5.
      </p>
    }
  </div>
  <base-btn (click)="save()" [disabled]="!form.valid || btnLoading()" [fullWidth]="true" [loading]="btnLoading()"
    class="mt-4" text="Submit" />
</form>
