<h2>Categories Overview</h2>
<div class="flex items-center">
  <base-btn (click)="goToUpdatePage()" [icon]="plus"
    text="Add category" />

</div>
@if (isLoading()) {
  <div class="mt-8 grid grid-cols-3 gap-4">
    @for (i of [1, 2,3,4,5,6,7,8,9]; track i) {
      <loading height="h-8" />
    }
  </div>
} @else {
  @if (categories.totalEntries > 0 ) {
    <ul>
      @for (category of categories.categories; track category) {
        <li>
          <h3>{{ category.name }}</h3>
          <p>Associated books: {{ category.booksCount }}</p>
        </li>
      }
    </ul>
    <h3>Total entries: {{ categories.totalEntries }}</h3>
  } @else {
    <div class="flex items-center justify-center h-100">
      <empty-placeholder title="No categories available"
        description="Add some categories to categorize your personal bookstore."
        [icon]="list" />
    </div>
  }
}
