<div class="page-container background">
  <app-header class="sticky top-0" />
  <div class="absolute z-1 left-1/2 top-24 transform -translate-x-1/2">
    <div class=" flex flex-col space-y-4">
      @for (notification of notificationStore.items(); track notification) {
        <notification
          [message]="notification.message" [type]="notification.type"
          class=" animate-fade-in" />
      }
    </div>
  </div>
  <main class="main-content m-8">
    <router-outlet />
  </main>
  <app-footer />
</div>
