<h2>{{ 'books.headlines.overview' | translate }}</h2>
<div class="flex justify-between items-center">
  <base-btn (click)="goToUpdatePage()" [icon]="plus"
            [text]="'books.button.add' | translate" />
  <div class="space-x-2">
    <badge [active]="true"> {{ 'books.badge.all' | translate }}</badge>
    <badge> {{ 'books.badge.toRead' | translate }}</badge>
    <badge> {{ 'books.badge.alreadyRead' | translate }}</badge>
  </div>
</div>
@if (isLoading()) {
  <div class="mt-8 flex flex-col gap-4">
    <loading height="h-20" />
    <loading height="h-20" />
    <loading height="h-20" />
  </div>
} @else {
  @if (books.totalEntries > 0) {
    <ul>
      @for (book of books.books; track book) {
        <li>
          <h3>{{ book.title }}</h3>
          <p>{{ 'books.category' | translate }}: {{ book.category.name }}</p>
          <p>{{ 'books.spice' |translate }}: {{ book.spice }}</p>
          <p>{{ 'books.pages' | translate }}: {{ book.pages }}</p>
        </li>
      }
    </ul>
    <h3>{{ 'totalEntries' |translate }}: {{ books.totalEntries }}</h3>
  } @else {
    <div class="flex items-center justify-center h-100">
      <empty-placeholder [title]="'books.empty.title' | translate" [description]="'books.empty.description' | translate"
                         [icon]="book" />
    </div>
  }
}
