<h2>Books Overview</h2>
<div class="flex items-center">
  <base-btn (click)="goToUpdatePage()" [icon]="plus" text="Add book" />

</div>
@if (isLoading()) {
  <div class="mt-8 flex flex-col gap-4">
    <loading height="h-20" />
    <loading height="h-20" />
    <loading height="h-20" />
  </div>
} @else {
  @if (books.totalEntries > 0 ) {
    <ul>
      @for (book of books.books; track book) {
        <li>
          <h3>{{ book.title }}</h3>
          <p>Category: {{ book.category.name }}</p>
          <p>Spice: {{ book.spice }}</p>
          <p>Pages: {{ book.pages }}</p>
        </li>
      }
    </ul>
    <h3>Total entries: {{ books.totalEntries }}</h3>
  } @else {
    <div class="flex items-center justify-center h-100">
      <empty-placeholder title="No Books available" description="Add some books to your personal bookstore."
        [icon]="book" />
    </div>
  }
}
