<h2>Add book</h2>
<form [formGroup]="form" (ngSubmit)="save()" class="form">
  <label for="title">Title: </label>
  <input id="title" type="text" formControlName="title" />

  <label for="category">Category: </label>
  <input id="category" type="text" formControlName="category" />

  <label for="pages">Pages: </label>
  <input id="pages" type="number" formControlName="pages" />

  <label for="spice">Spice: </label>
  <input id="spice" type="number" formControlName="spice" />

  <button type="submit" class="button" [disabled]="!form.valid">Submit</button>
</form>

<p>Form Status: {{ form.status }}</p>
